.mediaViewInfo {
	--web-view-name: AlienSquad | CTF Team;
	--web-view-id: AlienSquad__CTF_Team;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: AlienSquad__CTF_Team;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#AlienSquad__CTF_Team {
	position: absolute;
	width: 1920px;
	height: 4394px;
	background-color: rgba(32,32,32,1);
	overflow: hidden;
	--web-view-name: AlienSquad | CTF Team;
	--web-view-id: AlienSquad__CTF_Team;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_1 {
	position: absolute;
	width: 2527px;
	height: 4342px;
	left: -213px;
	top: 98px;
	overflow: visible;
}
#Rectangle_14 {
	fill: rgba(32,32,32,1);
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 2527px;
	height: 1069px;
	left: 0px;
	top: 3273px;
}
#Rectangle_3 {
	opacity: 0.55;
	filter: blur(16px);
	fill: rgba(255,255,255,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 152px;
	left: 528px;
	top: 547px;
}
#Isomatric {
	position: absolute;
	width: 693px;
	height: 745px;
	left: 1285px;
	top: 195px;
	overflow: visible;
}
#TEAM {
	left: 1466px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#CTFTIME {
	left: 1545px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#TWITER {
	left: 1649px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#Dont_Learn_to_Hack__Hack_to_Le {
	left: 424px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 606px;
	white-space: nowrap;
	line-height: 90px;
	margin-top: -12.5px;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: lighter;
	font-size: 65px;
	color: rgba(255,255,255,1);
}
#WRITEUP {
	left: 1357px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#Logo {
	position: absolute;
	width: 132px;
	height: 120px;
	left: 159px;
	top: 54px;
	overflow: visible;
}
#AlienSquad {
	left: 291px;
	top: 99px;
	position: absolute;
	overflow: visible;
	width: 142px;
	white-space: nowrap;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_13 {
	fill: rgba(238,238,238,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 2527px;
	height: 1088px;
	left: -511px;
	top: 1080px;
}
#Path_46_t {
	fill: url(#Path_46_t);
}
.Path_46_t {
	overflow: visible;
	position: absolute;
	width: 436px;
	height: 94px;
	left: 746px;
	top: 1209.731px;
	transform: matrix(1,0,0,1,0,0);
}
#Meet_Our_Team {
	left: 787px;
	top: 1230.731px;
	position: absolute;
	overflow: visible;
	width: 356px;
	white-space: nowrap;
	line-height: 78px;
	margin-top: -11px;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(255,255,255,1);
}
#Circle_Logo {
	position: absolute;
	width: 229px;
	height: 189px;
	left: 365px;
	top: 1400.193px;
	overflow: visible;
}
#n_4 {
	position: absolute;
	width: 228px;
	height: 190px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_x {
	position: absolute;
	width: 188px;
	height: 188px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Nullz_Logo {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 376px;
	top: 1412.193px;
	overflow: visible;
}
#Nullz {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Circle_Logo_ {
	position: absolute;
	width: 229px;
	height: 189px;
	left: 706px;
	top: 1399.193px;
	overflow: visible;
}
#n_4_ {
	position: absolute;
	width: 228px;
	height: 190px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_ba {
	position: absolute;
	width: 188px;
	height: 188px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Nullz_Logo_ {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 717px;
	top: 1410.193px;
	overflow: visible;
}
#Nullz_ {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Circle_Logo_ba {
	position: absolute;
	width: 229px;
	height: 189px;
	left: 1050px;
	top: 1398.193px;
	overflow: visible;
}
#n_4_bb {
	position: absolute;
	width: 228px;
	height: 190px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_bc {
	position: absolute;
	width: 188px;
	height: 188px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Nullz_Logo_ba {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 1061px;
	top: 1410.193px;
	overflow: visible;
}
#Nullz_ba {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Circle_Logo_bb {
	position: absolute;
	width: 229px;
	height: 189px;
	left: 1350px;
	top: 1397.193px;
	overflow: visible;
}
#n_4_bd {
	position: absolute;
	width: 228px;
	height: 190px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_be {
	position: absolute;
	width: 188px;
	height: 188px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Nullz_Logo_bd {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 1361px;
	top: 1409.193px;
	overflow: visible;
}
#Nullz_be {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Circle_Logo_bf {
	position: absolute;
	width: 229px;
	height: 189px;
	left: 875px;
	top: 1706.193px;
	overflow: visible;
}
#n_4_bg {
	position: absolute;
	width: 228px;
	height: 190px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_4_bh {
	position: absolute;
	width: 188px;
	height: 188px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Nullz_Logo_bi {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 886px;
	top: 1718.193px;
	overflow: visible;
}
#Nullz_bj {
	position: absolute;
	width: 168px;
	height: 167px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#twitter_1 {
	position: absolute;
	width: 1009.718px;
	height: 20.075px;
	left: 400px;
	top: 1676.194px;
	overflow: visible;
}
#Path_45 {
	fill: rgba(122,122,122,1);
}
.Path_45 {
	overflow: visible;
	position: absolute;
	width: 24.718px;
	height: 20.075px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_47 {
	fill: rgba(122,122,122,1);
}
.Path_47 {
	overflow: visible;
	position: absolute;
	width: 24.718px;
	height: 20.075px;
	left: 344px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_48 {
	fill: rgba(122,122,122,1);
}
.Path_48 {
	overflow: visible;
	position: absolute;
	width: 24.718px;
	height: 20.075px;
	left: 688px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_49 {
	fill: rgba(122,122,122,1);
}
.Path_49 {
	overflow: visible;
	position: absolute;
	width: 24.718px;
	height: 20.075px;
	left: 985px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Professional_player {
	left: 742px;
	top: 1639.193px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Agency FB;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Professional_player_bq {
	left: 1084px;
	top: 1639.193px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Agency FB;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Professional_player_br {
	left: 1384px;
	top: 1639.193px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Agency FB;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Professional_player_bs {
	left: 911px;
	top: 1945.193px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Agency FB;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Path_50 {
	fill: rgba(122,122,122,1);
}
.Path_50 {
	overflow: visible;
	position: absolute;
	width: 24.718px;
	height: 20.075px;
	left: 913px;
	top: 1976.194px;
	transform: matrix(1,0,0,1,0,0);
}
#Nullz_bu {
	left: 400px;
	top: 1598.193px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	line-height: 54px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Team_Leader {
	left: 400px;
	top: 1641.193px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Agency FB;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#NAME {
	left: 742px;
	top: 1598.193px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 54px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#NAME_bx {
	left: 1084px;
	top: 1598.193px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 54px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#NAME_by {
	left: 1384px;
	top: 1598.193px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 54px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#NAME_bz {
	left: 911px;
	top: 1902.193px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 54px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#n_641727 {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 517px;
	top: 1602.193px;
	overflow: visible;
}
#Path_55 {
	fill: rgba(255,255,255,1);
}
.Path_55 {
	overflow: visible;
	position: absolute;
	width: 529.176px;
	height: 697.258px;
	left: 123.977px;
	top: 2486px;
	transform: matrix(1,0,0,1,0,0);
}
#Null_CTF {
	left: 177.153px;
	top: 2818px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,201,174,1);
}
#n_Writeup__Challenge_Name {
	left: 177.153px;
	top: 2842px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Agency FB;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Lorem_Ipsum_is_simply_dummy_te {
	left: 177.153px;
	top: 2875px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(101,93,93,1);
	letter-spacing: 0.06px;
}
#Rectangle_12 {
	fill: rgba(142,255,199,1);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 187px;
	height: 59px;
	left: 177.153px;
	top: 3079px;
}
#Image_1 {
	position: absolute;
	width: 544.705px;
	height: 408.371px;
	left: 114.3px;
	top: 2396px;
	overflow: visible;
}
#READ_MORE {
	left: 206.153px;
	top: 3097px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -9.5px;
	text-align: left;
	font-family: Microsoft YaHei UI;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.06px;
}
#Path_56 {
	fill: rgba(255,255,255,1);
}
.Path_56 {
	overflow: visible;
	position: absolute;
	width: 529.176px;
	height: 697.258px;
	left: 701.414px;
	top: 2486px;
	transform: matrix(1,0,0,1,0,0);
}
#Null_CTF_b {
	left: 772.153px;
	top: 2818px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,230,0,1);
}
#n_Writeup__Challenge_Name_ca {
	left: 763.153px;
	top: 2842px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Agency FB;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Lorem_Ipsum_is_simply_dummy_te_cb {
	left: 754.153px;
	top: 2875px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(101,93,93,1);
	letter-spacing: 0.06px;
}
#Path_58 {
	fill: rgba(172,142,255,1);
}
.Path_58 {
	overflow: visible;
	position: absolute;
	width: 187px;
	height: 59px;
	left: 767.276px;
	top: 3079.201px;
	transform: matrix(1,0,0,1,0,0);
}
#READ_MORE_cd {
	left: 795.153px;
	top: 3097px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -9.5px;
	text-align: left;
	font-family: Microsoft YaHei UI;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.06px;
}
#Path_57 {
	fill: rgba(255,255,255,1);
}
.Path_57 {
	overflow: visible;
	position: absolute;
	width: 529.176px;
	height: 697.258px;
	left: 1269.683px;
	top: 2483.371px;
	transform: matrix(1,0,0,1,0,0);
}
#Null_CTF_cf {
	left: 1361.186px;
	top: 2815.371px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(201,0,154,1);
}
#n_Writeup__Challenge_Name_cg {
	left: 1323.186px;
	top: 2839.371px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Agency FB;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Lorem_Ipsum_is_simply_dummy_te_ch {
	left: 1323.186px;
	top: 2872.371px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(101,93,93,1);
	letter-spacing: 0.06px;
}
#Path_59 {
	fill: rgba(142,247,255,1);
}
.Path_59 {
	overflow: visible;
	position: absolute;
	width: 187px;
	height: 59px;
	left: 1352.193px;
	top: 3076.572px;
	transform: matrix(1,0,0,1,0,0);
}
#READ_MORE_cj {
	left: 1382.186px;
	top: 3094.371px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -9.5px;
	text-align: left;
	font-family: Microsoft YaHei UI;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.06px;
}
#space-3262811__340 {
	position: absolute;
	width: 545px;
	height: 341px;
	left: 692.935px;
	top: 2396px;
	overflow: visible;
}
#starship-space-cartoon-free-ve {
	position: absolute;
	width: 542.857px;
	height: 380px;
	left: 1262.843px;
	top: 2396px;
	overflow: visible;
}
#Group_1_cm {
	position: absolute;
	width: 1920px;
	height: 632px;
	left: 37.35px;
	top: 3687.869px;
	overflow: visible;
}
#Illustration-4 {
	position: absolute;
	width: 504px;
	height: 514px;
	left: 139.5px;
	top: 0px;
	overflow: visible;
}
#Useful_links {
	left: 787.5px;
	top: 252px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Contact {
	left: 1447.5px;
	top: 249px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Copyright__2022 {
	left: 139.5px;
	top: 613px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#CTFTIME_cr {
	left: 787.5px;
	top: 291px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#WRITEUPS {
	left: 787.5px;
	top: 336px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: DIN;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#twitter_1_ct {
	position: absolute;
	width: 24.718px;
	height: 20.075px;
	left: 1446.5px;
	top: 303px;
	overflow: visible;
}
#Path_45_cu {
	fill: rgba(255,255,255,1);
}
.Path_45_cu {
	overflow: visible;
	position: absolute;
	width: 24.718px;
	height: 20.075px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#dribbble {
	fill: rgba(255,255,255,1);
}
.dribbble {
	overflow: visible;
	position: absolute;
	width: 24.718px;
	height: 24.718px;
	left: 1443.5px;
	top: 348px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(199,198,219,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0px;
	top: 568.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_60_cy {
	fill: url(#Path_60_cy);
}
.Path_60_cy {
	overflow: visible;
	position: absolute;
	width: 233.334px;
	height: 58.06px;
	left: 306.333px;
	top: 638px;
	transform: matrix(1,0,0,1,0,0);
}
#Get_Started {
	left: 332px;
	top: 648px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Edo;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	color: rgba(255,255,255,1);
}